@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">

        <div class="jumbotron">
            <h1 class="gray text-center">Welcome!</h1>
            <p class="gray text-center">Some Random Text To Fill Home Page</p>
            <div class="text-center">
            <p><a class="btn btn-primary btn-lg"  role="button">About Us</a></p></div>
        </div>

    </div>
</div>
